# Load Libraries & Data

In [1]:
!wget https://www.spataru.at/students/course_files/week2/adult_rev2.csv

--2022-11-21 07:56:56--  https://www.spataru.at/students/course_files/week2/adult_rev2.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3595716 (3.4M) [text/csv]
Saving to: ‘adult_rev2.csv’

adult_rev2.csv      100%[===================>]   3.43M  3.93MB/s    in 0.9s

2022-11-21 07:56:58 (3.93 MB/s) - ‘adult_rev2.csv’ saved [3595716/3595716]

In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap

**Load the data in a variable named df**

Tip: pd.read_csv()




The file path is "adult_rev2.csv"

In [4]:
df = pd.read_csv("adult_rev2.csv")

**How many rows and columns does the data have?**

df.shape > (rows,columns)

In [5]:
df.shape

(32761, 15)

**Show the first 5 rows of the data**

In [7]:
df.head(2)

,social_number,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,717703,90,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,931778,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K

# Data Cleaning

**Drop the duplicates in the data**

Note: replace the current df (dataframe) with the clean df

In [11]:
df = df.drop_duplicates()

**How many rows are left?**

In [12]:
df.shape

(32589, 15)

**How many values are there in missing in the column workclass?**

In [14]:
df.isna().sum()

social_number        0
age                  0
workclass         1837
education            0
education_num        0
marital_status       0
occupation        1844
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [16]:
df.workclass.isna().sum()

1837

In [17]:
df["workclass"]

0                 NaN
1             Private
2                 NaN
3             Private
4             Private
             ...
32733         Private
32742         Private
32748         Private
32750         Private
32751    Self-emp-inc
Name: workclass, Length: 32589, dtype: object

**Drop all missing values**

Note: replace the current df (dataframe) with the clean df

In [19]:
df = df.dropna()

**How many rows are left?**

In [20]:
df.shape

(30189, 15)

**Is the income column inconsistent? Then fix it**

**Drop social number. How many column are there left?** 

Note: Replace the old dataframe with the new clean one

# Exploratory Data Analysis

## Univariate

**Describe Age**

**Determine the mean of the column "hours.per.week"**

**What is the diference between mean and median on capital gain?**

**How many unique workclasses?**

**How many different types of education are there?**

**How many people are divorced?**

**Histogram Age**

**Create a countplot for martial status**

## Bivariate Analysis

**How many Salesperson make a capital gain of over 80000?**

**How many rows have a capital loss and capital gain bigger than 0?**

**Answer: 1**

**Create a feature which combines capital_loss and capital_gain**

**What is the mean capital?**

**What is the median capital?**

**How many people have a capital of 0?**

**What is the percentage of people which make a capital gain of over 10000?**

**What is the occupation of the biggest capital loss?** Q

Tip: Use min() or max()

**What is the ratio between <=50K income and >50K?**

**How many people with a income >50K have a 
capital loss?**

**How manydivorced people with a income >50K have a capital gain?**

**Do a scatter plot between age and capital**

**This look unreadable. Calculate the average capital by age**

**Calculate the correlation on the whole dataframe**

**Do men make more money than women?**