In [1]:
!wget https://www.spataru.at/students/course_files/week4/loan.csv

--2022-11-30 08:58:07--  https://www.spataru.at/students/course_files/week4/loan.csv
Resolving www.spataru.at (www.spataru.at)... 81.19.159.92
Connecting to www.spataru.at (www.spataru.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38013 (37K) [text/csv]
Saving to: ‘loan.csv’

loan.csv            100%[===================>]  37.12K  --.-KB/s    in 0.1s

2022-11-30 08:58:08 (304 KB/s) - ‘loan.csv’ saved [38013/38013]

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from  sklearn.metrics import *
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn import model_selection
import plotly.express as px

In [3]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier

In [4]:
df = pd.read_csv("loan.csv")

# EDA

In [5]:
df.shape

(614, 13)

In [6]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
df.Gender.isna().sum()

13

In [10]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [11]:
df.shape

(614, 13)

In [12]:
imputer = SimpleImputer(strategy="median")

In [13]:
numerical_columns = ["LoanAmount", "Loan_Amount_Term"]

In [15]:
df.loc[:, numerical_columns] =  imputer.fit_transform(df[numerical_columns])

In [18]:
category_columns = ["Gender", "Married", "Dependents","Self_Employed", "Credit_History"]
imputer = SimpleImputer(strategy="most_frequent")

In [19]:
df.loc[:, category_columns] =  imputer.fit_transform(df[category_columns])

In [23]:
df = df.drop(["Loan_ID", "Gender"], axis=1)

In [30]:
df = pd.get_dummies(df, drop_first=True)

# Split Input and Output

# Decision Tree

# Evaluation

# K-Folds Cross Validation